<header>
    <h1 style="padding: 8px">IoTa Device Manager</h1>
    <nav class="nav-bar">
        <ul>
            <li>
                <a id="physical-device-banner-heading" href="{{ url_for('physical_device_table') }}">
                    <span class="nav-text">Physical Devices</span>
                </a></li>
            <li><a id="logical-device-banner-heading" href="{{ url_for('logical_device_table') }}">Logical Devices</a></li>
            <li><a id="wombats-banner-heading" href="{{ url_for('wombats') }}">Wombats</a></li>
            <li><a id="map-banner-heading" href="{{ url_for('show_map') }}" target="_blank">Map</a></li>
            <li><a id="account-banner-heading" href="{{ url_for('account') }}">Account</a></li>
            <li><a id="logout-banner-heading" href="{{ url_for('signout') }}">Signout</a></li>
        </ul>
    </nav>
</header>
