{% extends "base.html" %}
{% block content %}

<section>
	<div class="container mt-5">
        <form action="{{url_for('login')}}" method="POST">
            <div class="rpw mb-5"/>
            <div class="form-group row justify-content-md-center mb-4">
                <label class="col-md-1 col-form-label" for="username">Username:</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="username" name="username">
                </div>
            </div>

            <div class="form-group row justify-content-md-center mb-4">
                <label class="col-md-1 col-form-label" for="password">Password:</label>
                <div class="col-md-4">
                    <input class="form-control" type="password" id="password" name="password">
                </div>
            </div>

            <div class="form-group row">
                <input class="col-md-1 btn btn-primary" type="submit" name='login' value="Login">
            </div>
            {% if failed == True %}
            <div id="password_error">
                <p style="color: red">Incorrect username or password</p>
            </div>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}
