{% extends "base.html" %}
{% block content%}

	<div class="command-bar">
		<div class="form-buttons">
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
	
	<section id="device-table">
		<div class="container">
			<h2 class="form-heading"><span class='logical-device-orange-icon'></span> Logical Devices</h2>
			<table class="table table-striped data-table">
				<thead>
					<tr>
						<th>UID</th>
						<th>NAME</th>
						<th>LOCATION</th>
						<th>LAST SEEN</th>
						<th>CURRENT MAPPING</th>
					</tr>
					</tr>
				</thead>
				<tbody>
					{% for logicalDevice in logicalDevices %}
					<tr id="{{ logicalDevice.uid }}">
						<td>{{ logicalDevice.uid }}</td>
						<td>
							<a href="{{ url_for('logical_device_form', uid=logicalDevice.uid) }}">{{ logicalDevice.name }}</a>
						</td>
						<td>{{ logicalDevice.location }}</td>
						<td data-order="{{ logicalDevice.ts_sort }}">{{ logicalDevice.last_seen }}</td>
						<td>
							{% for mapping in dev_mappings %}
								{% if mapping.ld == logicalDevice.uid %}
									<a href="{{ url_for('physical_device_form', uid=mapping.pd.uid) }}">{{ mapping.pd.name }}</a>
								{% endif %}
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	{% endblock %}