{% extends "base.html" %}
{% block content %}

<style>
	#export-data {
		min-height: 500px; /* Adjust this value as needed */
		width: 800px; /* Adjust this value as needed */
	}

	.bottom-right-div {
		position: absolute;
		bottom: 16px;
		right: 16px;
		width: 100%;
		text-align: right;
	}

	#loading-spinner {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
		z-index: 9999; /* high z-index to ensure it's on top */
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.spinner {
		border: 4px solid #f3f3f3;
		border-top: 4px solid #3498db;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		animation: spin 1s linear infinite;
	}
	
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>

<script type="text/javascript">
let start_ts_inst = null;
let end_ts_inst = null;
let dialog = null;

async function doFetch(event) {
	console.log($("#start_ts").val());
	console.log($("#end_ts").val());
	console.log(dialog.returnValue);

	if (start_ts_inst) {
		start_ts_inst.destroy();
	}
	if (end_ts_inst) {
		end_ts_inst.destroy();
	}

	if ('Export'.localeCompare(dialog.returnValue) === 0) {
		try {
			showSpinner();
			console.log('Exporting data');
			const formElement = document.getElementById('single-ld-export');
			const formData = new FormData(formElement);
			console.log(formData);
			x = fetch(formElement.action, {
				method: 'POST',
				body: formData
			})
			.then(async response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				const blob = await response.blob();
				const filename = response.headers.get('Content-Disposition')?.split('filename=')[1]?.replace(/['"]/g, '') || 'download.csv';
			
				// Check if the showSaveFilePicker API is available
				if ('showSaveFilePicker' in window) {
				try {
					const handle = await window.showSaveFilePicker({
					suggestedName: filename,
					types: [{
						description: 'CSV File',
						accept: {'text/csv': ['.csv']},
					}],
					});
					const writable = await handle.createWritable();
					await writable.write(blob);
					await writable.close();
				} catch (err) {
					if (err.name !== 'AbortError') {
					console.error('Failed to save file:', err);
					// Fallback to the older method
					saveBlobAsFile(blob, filename);
					}
				}
				} else {
				// Fallback for browsers that don't support showSaveFilePicker
				saveBlobAsFile(blob, filename);
				}
			})
			.catch(error => {
				console.error('Error:', error);
				// Does this show up when the spinnder is active?
				alert("Error occured on submission", error);
			});

			// Wait for the fetch to finish so the spinner shows up.
			await x;
		} finally {
			hideSpinner();
		}
	}
}

$(document).ready(function () {
	dialog = document.getElementById('export-data');
	// A submit handler would avoid this getting called when the dialog is dismissed using
	// the escape key, but it does not get the correct value for dialog.returnValue.
	//
	// The close handler gets called all the time but at least dialog.returnValue has a
	// valid value.
	dialog.addEventListener("close", doFetch);
});

function exportData(l_uid) {
	dialog.returnValue = "Cancel";
	dialog.showModal();

	start_ts_inst = $("#start_ts").flatpickr({
		static: true,
		appendTo: document.getElementById('start_ts'),
		onChange: function(selectedDates, dateStr) {
			$("#start_ts").val(dateStr);
		}
	});

	end_ts_inst = $("#end_ts").flatpickr({
		static: true,
		appendTo: document.getElementById('end_ts'),
		onChange: function(selectedDates, dateStr) {
			$("#end_ts").val(dateStr);
		}
	});
}

function saveBlobAsFile(blob, filename) {
	const url = window.URL.createObjectURL(blob);
	const a = document.createElement('a');
	a.style.display = 'none';
	a.href = url;
	a.download = filename;
	document.body.appendChild(a);
	a.click();
	window.URL.revokeObjectURL(url);
	document.body.removeChild(a);
}

function showSpinner() {
	console.log('showing spinner');
	document.getElementById('loading-spinner').style.display = 'flex';
}
  
function hideSpinner() {
	console.log('hiding spinner');
	document.getElementById('loading-spinner').style.display = 'none';
}
</script>

<!-- Are the nested divs necessary or is the inner one sufficient? -->
<div id="loading-spinner" style="display: none;">
	<div class="spinner"></div>
</div>

<dialog id="export-data">
	<header>
		<h3 style="padding: 8px">Export data</h3>
	</header>
	<form id="single-ld-export" action="{{ url_for('DownloadData') }}" method="dialog">
		<div>
			<table>
				<tr>
					<td>From</td><td>To</td>
				</tr>
				<tr>
				<td><input type="text" id="start_ts" name="start_ts" /></td>
				<td><input type="text" id="end_ts" name="end_ts" /></td>
				</tr>
			</table>
		</div>
		<input type="hidden" name="l_uid" value="{{ ld_data.uid }}" />
		<div class="bottom-right-div">
			<input type="submit" value="Cancel" />
			<input type="submit" value="Export" />
		</div>
	</form>
</dialog>


<div class="command-bar">
	<div class="form-buttons">
		<ul>
			<li><span class="btn" onclick="exportData('{{ ld_data.uid }}')">Export Data</span></li>
			<li><span class="btn" onclick="handleSubmit('device-form', 'Are you sure you want to Save?')">Save</span></li>
			<li><span class="btn" onclick="handleMapping('logical device')">Update Mapping</span></li>
			<li><span class="btn" onclick="handleEndMapping('{{ ld_data.uid }}', 'LD')">End Mapping</span></li>
			{% if deviceMappings | length > 0 %}
				<li><span class="btn" onclick="handleToggleMapping('{{ deviceMappings[0].pd.uid }}','{{ deviceMappings[0].is_active }}', 'PD')">{{ "Pause Mapping" if deviceMappings[0].is_active == True else "Resume Mapping" }}</span></li>
			{% endif %}
		</ul>
	</div>
</div>

<section class="container">
	<h2 class="form-heading">{{ title }}</h2>
	<div class="row">
		<div class="column">
			<div class="form-section">
				<h3>Form</h3>
				<form id="device-form" action="{{ url_for('UpdateLogicalDevice') }}" target="hidden-frame">
					<div>
						<label for="form-uid">UID</label>
						<input type="text" id="form-uid" name="form_uid" value="{{ ld_data.uid }}" readonly>
					</div>
					<div>
						<label for="form-name">Name</label>
						<input type="text" id="form-device-name" name="form_name" value="{{ ld_data.name }}">
					</div>
					<div>
						<label id="form-location-label" for="form-name">Location</label>
						<input type="text" id="form-location" name="form_location" value="{{ deviceLocation }}">
					</div>
					<div>
						<label for="device-last-seen">Device Last Seen</label>
						<input type="text" id="device-last-seen" name="device_last_seen" value="{{ deviceLastSeen }}" readonly>
					</div>
					{% if ubidots_link != "" %}
					<div>
							<label id="form_link" for="form-link">Ubidots Link</label>
							<a href="{{ ubidots_link }}" target="_blank">Click here</a>
					</div>
					{% endif %}
				</form>
			</div>
			<div class="form-section">
				<h3>Properties</h3>
				<textarea rows="10" cols="50">{{ properties }}</textarea>
			</div>
		</div>
		<div class="column">
			<div class="form-section">
				<dialog id="mapping-dialog" class="dialog-box">
					<button onclick="closeDialog()">&times</button> <!--//Add closed button -->
					<h3 id="mapping-dialog-heading">Select Physical Device to Map</h3>
					<form id="mapping-form" action="{{ url_for('UpdateMappings') }}" method="PATCH" target="hidden-frame" enctype="application/x-www-form-urlencoded">
						<table class="table table-striped data-table">
							<thead>
								<th>Select</th>
								<th>Uid</th>
								<th>Name</th>
								<th>Location</th>
								<th>Last Seen</th>
							</thead>
							<tbody>
							{% for physicalDevice in pd_data %}
								<tr>
									<td><input type="radio" name="physicalDevice_mapping" value="{{ physicalDevice.uid }}"></td>
									<td>{{ physicalDevice.uid }}</td>
									<td><a href="{{ url_for('physical_device_form', uid=physicalDevice.uid) }}">{{ physicalDevice.name }}</a></td>
									<td>{{ physicalDevice.location }}</td>
									<td>{{ physicalDevice.last_seen }}</td>
								</tr>
							{% endfor %}
						</tbody>
						</table>
						<input type="text" id="mapping-id" name="logicalDevice_mapping" class="hidden" value="{{ ld_data.uid }}" readonly>
						<input type="submit" class="form-btn" value="Update Mapping" onClick="handleSubmit('mapping-form', 'Are you sure you want to map these?', event)">
					</form>
				</dialog>
				<div class="mapping-header">
					<h3 id="mapping-heading">Mapping</h3>
					{% if deviceMappings | length > 0 %}
						{% if deviceMappings[0].is_active == False %}
							<img src="{{url_for('static',filename = 'pause.png')}}" class="pause_icon"/>
						{% endif %}
					{% endif %}
				</div>
				<table class="table table-striped data-table">
					<thead>
						<th>ID</th>
						<th>Name</th>
						<th>Start</th>
						<th>End</th>
						<th>Is Active</th>
					</thead>
						{% for mapping in deviceMappings %}
						<tbody>
							<tr>
								<td>{{ mapping.pd.uid }}</td>
								<td><a href="{{ url_for('physical_device_form', uid=mapping.pd.uid) }}">{{ mapping.pd.name }}</a></td>
								<td>{{ mapping.start_time }}</td>
								<td>{{ mapping.end_time }}</td>
								<td>{{ mapping.is_active }}</td>
							</tr>
						</tbody>
						{% endfor %}
				</table>
			</div>
		</div>
	</div>
</section>

{% endblock %}
