{% extends "base.html" %}
{% block content%}

	<div class="command-bar">
		<div class="form-buttons">
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
	
	<section id="device-table">
		<div class="container">
			<h2 class="form-heading">Logical Devices</h2>
			<table class="table table-striped data-table">
				<thead>
					<tr>
						<th>UID</th>
						<th>NAME</th>
						<th>LOCATION</th>
						<th>LAST SEEN</th>
					</tr>
				</thead>
				<tbody>
					{% for logicalDevice in logicalDevices %}
					<tr>
						<td>{{ logicalDevice.uid }}</td>
						<td><a href="{{ url_for('logical_device_form', uid=logicalDevice.uid) }}">{{ logicalDevice.name }}</a></td>
						<td>{{ logicalDevice.location }}</td>
						<td>{{ logicalDevice.last_seen }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	{% endblock %}