{% extends "base.html" %}
{% block content%}

<div class="command-bar">
    <div class="form-buttons">
        <ul id="physicalmappingbuttons">
			<li><span class="btn" onclick="handleCreateMultipleMappings()">Create Multiple Mappings</span></li>
        </ul>
    </div>
</div>

<section id="device-table">
    <div class="container">
        <h2 class="form-heading"><span class='physical-device-orange-icon'></span> Physical Devices</h2>
        <table class="table table-striped data-table-checkbox">
            <thead>
                <tr>
                    <th></th>
                    <th>UID</th>
                    <th>NAME</th>
                    <th>SOURCE</th>
                    <th>LAST SEEN</th>
                    <th>MAPPINGS</th>
                </tr>
            </thead>
            <tbody id="device-table-body">
                {% for i in range(physicalDevices|length) %}
                <tr id="{{ physicalDevices[i].uid }}">
                    <td></td>
                    <td>{{ physicalDevices[i].uid }}</td>
                    <td><a href="{{ url_for('physical_device_form', uid=physicalDevices[i].uid) }}">{{ physicalDevices[i].name }}</a></td>
                    <td>{{ physicalDevices[i].source_name }}</td>
                    <td>{{ physicalDevices[i].last_seen }}</td>
                    <td>{{ mappedColumnData[i] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


{% endblock %}