{% extends "base.html" %}
{% block content %}

<div class="px-4 pt-0 mt-0 mb-6" id="dev-hdr">
    <h2 class="form-heading pt-3" id="dev-name-title">{{ title }}</h2>
    <div class="row justify-content-between">
        <div class="col small" id="dev-last-seen">
            Last seen: {{ deviceLastSeen }}
        </div>
        {% if ubidots_link != "" %}
        <div class="col">
            <a style="float: inline-end;" href="{{ ubidots_link }}" target="_blank">Ubidots</a>
        </div>
        {% endif %}
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        {% include 'device_card.html' %}
    </div>
    <div class="col">
        {% include 'dev_mapping_card.html' %}
    </div>
</div>
</div>

<dialog style="width: 20%" id="edit-note-dialog" class="dialog-box">
    <h3 id="mapping-dialog-heading">Edit Note</h3>
    <div class="edit-note-container">
        <textarea rows='3' cols='35' id="edit-note-box" name="edit-note-text" class="close-edit-note"
            value="Save"></textarea>
        <input type="button" style="height:70px;width:83px" class="form-btn" value="Save" onClick="saveEditNote()">
        <input type="button" class="form-btn" value="Close" onClick="closeEditNote()">
    </div>
</dialog>
{% endblock %}