POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=******
POSTGRES_DB=broker

PYTHONPATH=/home/broker/python

TTN_API_TOKEN=Bearer abc
UBIDOTS_API_TOKEN=

RABBITMQ_DEFAULT_USER=broker
RABBITMQ_DEFAULT_PASS=******
