apiVersion: v1
kind: Service
metadata:
  name: grafana-nodeport
  namespace: broker
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - name: http
      port: 3000
      #nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: mq-nodeport
  namespace: broker
spec:
  type: NodePort
  selector:
    app: mq
  ports:
    - name: management
      port: 15672
      #nodePort: 30000
    - name: mqtt
      port: 1883
      #nodePort: 30000
    - name: prometheus
      port: 15692
      #nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: restapi-nodeport
  namespace: broker
spec:
  type: NodePort
  selector:
    app: restapi
  ports:
    - name: http
      port: 5687
      #nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: ttn-webhook-nodeport
  namespace: broker
spec:
  type: NodePort
  selector:
    app: ttn-webhook
  ports:
    - name: http
      port: 5688
      #nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: website-nodeport
  namespace: broker
spec:
  type: NodePort
  selector:
    app: website
  ports:
    - name: http
      port: 5000
      #nodePort: 30000
