/*
.hidden {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header {
    background: #063f5c;
    color: #ffffff;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #header-title {
    float: left;
}

header #header-title h1 {
    margin: 0;
}

.nav-bar {
    background: #063f5c;
    min-height: 70px;
    color: #ffffff;
    padding: 15px;
}

.nav-text {
    padding-left: 8px;
}

.nav-no-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
}

.command-bar {
    background: #17a2b8;
    min-height: 70px;
    color: #ffffff;
    padding: 15px;
    border-bottom: #fd7e14 5px solid;
}

.command-bar ul {
    margin: 0;
    padding: 0;
}

.command-bar li {
    display: inline;
    padding: 0 20px 0 20px;
}

.command-bar a {
    color: #ffffff;
    text-decoration: none;
}

.command-bar a:hover {
    color:#fd7e14;
}

.command-bar .btn {
    color: #ffffff;
    text-decoration: none;
}

.command-bar .btn:hover {
    color:#fd7e14;
}
*/
.navbar,
.navbar-brand,
.navbar-nav a {
    background: #063f5c;
    color: #ffffff;
}

header {
    border-bottom: solid #fd7e14;
}

.navbar-nav a.nav-link.active, a.nav-link:hover {
    color: #fd7e14;
}

#dev-hdr {
    background-color: #f8f9fa;
    box-shadow: -1px 10px 4px -1px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: -1px 10px 4px -1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: -1px 10px 4px -1px rgba(0, 0, 0, 0.26);
}

.dt-custom-btn {
    background-color: transparent !important;
}

.dt-custom-btn:hover {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.dt-custom-btn.btn-outline-secondary:hover {
    background-color: var(--bs-secondary) !important;
}
